.Light-Salmon-Pink{ 
    background-color: #FAA4A4;  /**(important for index.js)**/ 
    color: #FAA4A4;             /**(important for index.js)**/
  }
  
  .Spanish-Pink{
    background-color: #F8BCBC;  /**(important for index.js)**/
    color: #F8BCBC;             /**(important for index.js)**/
  }
  
  .Linen{
    background-color: #FEECE5;  /**(important for index.js)**/
    color: #FEECE5;             /**(important for index.js)**/
  }
  
  .Medium-Spring-Bud{
    background-color:  #D0D194; /**(important for index.js)**/
    color:  #D0D194;            /**(important for index.js)**/
  }
  
  .Dark-Khaki{
    background-color: #AFB56B;  /**(important for index.js)**/
    color: #AFB56B;             /**(important for index.js)**/
  }
  
  .Light-Taupe{
    background-color: #B3876F;  /**(important for index.js)**/
    color: #B3876F;             /**(important for index.js)**/
  }
  
  .Olivine{ 
    background-color: #98B462;  /**(important for index.js)**/
    color: #98B462;             /**(important for index.js)**/
  }
  
  .Medium-Spring-Bud{
    background-color:  #BDD588; /**(important for index.js)**/
    color:  #BDD588;            /**(important for index.js)**/
  }
  
  .Tea-Green{
    background-color: #DAF0BC;  /**(important for index.js)**/
    color: #DAF0BC;             /**(important for index.js)**/
  }
  
  .Nyanza{ 
    background-color: #EBFBE0;  /**(important for index.js)**/
    color: #EBFBE0;             /**(important for index.js)**/
  }
  
  .Green-Sheen{ 
    background-color: #79C7A0;  /**(important for index.js)**/
    color: #79C7A0;             /**(important for index.js)**/
  }
  
  .Zomp{ 
    background-color: #2A9899;  /**(important for index.js)**/
    color: #2A9899;             /**(important for index.js)**/
  }
  
  .Palatinate-Purple{ 
    background-color: #620F5B;  /**(important for index.js)**/
    color: #620F5B;             /**(important for index.js)**/
  }
  
  .X11-Maroon{ 
    background-color: #B52F70;  /**(important for index.js)**/
    color: #B52F70;             /**(important for index.js)**/
  }
  
  .Terra-Cotta{ 
    background-color: #ED6661;  /**(important for index.js)**/
    color: #ED6661;             /**(important for index.js)**/
  }
  
  .Meat-Brown{ 
    background-color: #EDB435;  /**(important for index.js)**/
    color: #EDB435;             /**(important for index.js)**/
  }
  
  .Citron{ 
    background-color: #96A53A;  /**(important for index.js)**/
    color: #96A53A;             /**(important for index.js)**/
  }
  
  .Olive-Drab{ 
    background-color: #6F8026;  /**(important for index.js)**/
    color: #6F8026;             /**(important for index.js)**/
  }
  
  .Rich-Black{
    background-color: #030303;  /**(important for index.js)**/
    color: #030303;             /**(important for index.js)**/
  }
  
  .Jet{
    background-color: #353535;  /**(important for index.js)**/
    color: #353535;             /**(important for index.js)**/
  }
  
  .Gray{
    background-color: #7C7C7C;  /**(important for index.js)**/
    color: #7C7C7C;             /**(important for index.js)**/
  }
  
  .Silver-Foil{
    background-color: #AFAFAF;  /**(important for index.js)**/
    color: #AFAFAF;             /**(important for index.js)**/
  }
  
  .Gainsboro{
    background-color: #DBDBDB;  /**(important for index.js)**/
    color: #DBDBDB;             /**(important for index.js)**/
  }
  
  .White{
    background-color: #FEFEFE;  /**(important for index.js)**/
    color: #FEFEFE;             /**(important for index.js)**/
  }
  
  .Blue-Violet{
    background-color: #8931EF;  /**(important for index.js)**/
    color: #8931EF;             /**(important for index.js)**/
  }
  
  .Jonquil{
    background-color: #F2CA19;  /**(important for index.js)**/
    color: #F2CA19;             /**(important for index.js)**/
  }
  
  .Shocking-Pink{
    background-color: #FF00BD;  /**(important for index.js)**/
    color: #FF00BD;             /**(important for index.js)**/
  }
  
  .RYB-Blue{
    background-color: #0057E9;  /**(important for index.js)**/
    color: #0057E9;             /**(important for index.js)**/
  }
  
  .Alien-Armpit{
    background-color: #87E911;  /**(important for index.js)**/
    color: #87E911;             /**(important for index.js)**/
  }
  
  .Spanish-Crimson{
    background-color: #E11845;  /**(important for index.js)**/
    color: #E11845;             /**(important for index.js)**/
  }
  
  .Bud-Green{
    background-color: #8BB447;  /**(important for index.js)**/
    color: #8BB447;             /**(important for index.js)**/
  }
  
  .Deep-Aquamarine{
    background-color: #428F6F;  /**(important for index.js)**/
    color: #428F6F;             /**(important for index.js)**/
  }
  
  .Fawn{
    background-color: #D7B26B;  /**(important for index.js)**/
    color: #D7B26B;             /**(important for index.js)**/
  }
  
  .Cookies-And-Cream{
    background-color: #E3D6B1;  /**(important for index.js)**/
    color: #E3D6B1;             /**(important for index.js)**/
  }
  
  .Middle-Red{
    background-color: #DF8879;  /**(important for index.js)**/
    color: #DF8879;             /**(important for index.js)**/
  }
  
  .Bdazzled-Blue{
    background-color: #35628A;  /**(important for index.js)**/
    color: #35628A;             /**(important for index.js)**/
  }
